.idea
.DS_Store
*.pdf

.cache/
.env
.env.swp
alpaca-cot-13b/
cached/
calib_files/
exp_roberta/
exp_roberta_with_cfs/
roberta--large-squad-cartography/
roberta-squad/
src/__pycache__/
src/cf_generation/baseline_generation/data/
src/cf_generation/baseline_generation/final-model/
src/cf_generation/baseline_generation/train_qg/
src/cf_generation/llm_generation/big_bench_tasks/
src/cf_generation/llm_generation/cf_thinking.py
src/cf_generation/llm_generation/chain_of_thought.py
src/cf_generation/llm_generation/cot_datasets/
src/cf_generation/llm_generation/inference_gpt.py
src/cf_generation/llm_generation/instruct_tune_gpt.py
src/cf_generation/llm_generation/prompt_gpt.py
src/checkpoints/
src/data/
src/lime_results/
src/outputs/
src/resources/
src/results/
src/shap_results/
src/shortcuts/
